opencv-python>=4.13.0.92
openai>=1.30.0
pyqt6>=6.11.0
pywin32>=306
winrt-runtime>=3.2.1
winrt-Windows.Foundation>=3.2.1
winrt-Windows.Globalization>=3.2.1
winrt-Windows.Graphics.Imaging>=3.2.1
winrt-Windows.Media.Ocr>=3.2.1
winrt-Windows.Storage.Streams>=3.2.1
